body{background-color: black;

}
#current-city{
    height: 350px;
    width: 95%;
    margin: 12px, 6px;
    border: solid lightslategray;

}
.right-side{
    border: solid lightsteelblue;
    /* right: -10px; */
    margin-left: 5px;
    margin-right: auto;
}
.left-side{
    border: solid lightcoral;
    /* for some reason this was off the left side of the page until I fixed it */
    margin-left: 20px;
    /* padding-left: 5px; */
    position: relative;
    /* left: 10px; */
}
.card{
    position: relative;
    display: inline-block;
    /* margin: 5px; */
    /* margin: auto; */
    margin: 10px auto auto 5px;
    width: 150px !important;
}
#city-name, #today{
    font-size: x-large;
    font-weight: 600;
}
.side-city{
    border: dashed lightgray;
    font-size: xx-large;
     margin: 5px auto 5px 5px; 
     /* max-width: 300px; */
    
}
.my-header{
    background-color: dimgray;
    color: whitesmoke;
    text-align: center;
}
.bckgrnd{
    background-color: lightslategrey;
    min-height: 85vh;
}
#search-button{
        color: orange;
        background-color:  darkseagreen;
}
